@media screen and (max-width: 1024px) {
  .header {
    position: relative;
    width: 100%;
    background-color: white;
    z-index: 10;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    height: 100vh;
    background-color: white;
    border-right: 1px solid black;
    padding: 4vw 2vw;
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: 5vw;
  }

  .header button {
    position: absolute;
    top: 2vw;
    left: 2vw;
    font-size: 6vw;
    background-color: transparent;
    border: none;
    z-index: 30;
    color: black;
  }

  .header nav ul {
    list-style: none;
    padding: 0;
    text-align: left;
  }

  .header nav ul a {
    text-decoration: none;
    color: black;
    font-size: 5vw;
  }

  .profileDesktop {
    width: 25vw;
    height: 25vw;
    align-self: center;
  }

  .profileDesktop img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .logo,
  .profile,
  .nav2 {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .menu {
    display: none;
  }

  .header button {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    align-items: center;
  }

  .logo {
    width: 15%;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header .nav2 ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 2vw;
  }

  .header .nav2 {
    width: 50vw;
  }

  .header .nav2 a {
    text-decoration: none;
    color: black;
  }

  .profile {
    width: 15%;
    height: 4vw;
    display: flex;
    justify-content: flex-end;
  }

  .profile img {
    width: 4vw;
    height: 100%;
    border-radius: 50%;
  }
}
