@font-face {
    font-family: 'Baloo Thambi';
    src: url(assets/font/BalooThambi-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

h1, h2, button {
    font-family: 'Baloo Thambi';
}

p, h3, h4, span {
    font-family: 'Nunito', sans-serif;
}